{% extends 'CAP/master.html.twig' %}

{% block page_subtitle %}900 INFORMATICA{% endblock %}
{% block page_title %}Constantes{% endblock %}

{% block body %}

<a href="{{ path('rsconmae_create') }}" class="ng_action_link">+ Añadir Constante</a>

<table class="table mt-30">
	<thead>
		<tr>
			<th scope "col">Cont_Id</th>
			<th scope "col">Descripción</th>
			<th scope "col">Valor</th>
			<th scope "col">Fecha Modificación</th>
		</tr>
	</thead>
	<tbody>
		{% for consta in paginator %}
		<tr>	
			    <td>{{ consta.getContId() }}</td>
			    <td>{{ consta.getDescrip() }}</td>
			    <td>{{ consta.getValor() }}</td>
			    <td>{{ consta.getModificationDate() }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{# display navigation #}
<div class="navigation text-center">
    {{ knp_pagination_render(paginator) }}
</div>

{% endblock %}	